/* Add your code in each class */
body {
  box-sizing: border-box;
}
.container {
  background-color: rgb(48, 15, 51);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.movie-card {
  /* background: "/assets/harrypotter.jpg"; */
  background-color: aqua;
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: 80% 100%;
}
.movie-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 40vh;
  height: 40vh;
  position: relative;
}
.movie-details-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.descriptions {
  color: white;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-weight: 900;
  color: white;
  position: absolute;
}
